#result, #send, textarea {
    font-family: monospace;
    font-size: 16px;
    width: 90%;
    margin: 10px auto;
    -webkit-locale: 'bg';
    font-language-override: 'BGR';
}

button {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

#buttons {
    margin: 10px auto;
    width: 90%;
}