@font-face {
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../../../fonts/NotoSans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: 'Noto Sans Glagolitic';
    font-style: normal;
    font-weight: 400;
    src: url(../../../fonts/NotoSansGlagolitic-Regular.ttf);
}

@font-face {
    font-family: 'Noto Sans Shavian';
    font-style: normal;
    font-weight: 400;
    src: url(../../../fonts/NotoSansShavian-Regular.ttf);
}

#result, textarea {
    font-family: 'Noto Sans Regular', 'Noto Sans Glagolitic', 'Noto Sans Shavian', sans-serif;
    font-size: 16px;
}